#about {
  height: calc(100vh - 4em);
  width: 100vw;
  max-width: 75em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
}

#about > img {
  object-fit: contain;
  width: 28em;
  height: 20em;
}
