#intro {
  height: calc(100vh - 4em);
  width: 100vw;
  max-width: 75em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  top: -4em;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}

.intro-content {
  height: 100vh;
  width: 100vw;
  padding: 2em;
  font-size: 2.5em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 0.75em;
  font-weight: 200;
}

.intro-name {
  color: #f95959;
}

.intro-para {
  font-size: medium;
  font-weight: 200;
}

.links {
  margin-top: 0.25em;
}

.links > a > img:hover {
  transform: scale(1.2, 1.2);
  transition: 0.3s;
  cursor: pointer;
}

.btn {
  background: white;
  color: black;
  border-radius: 2em;
  font-size: medium;
}

.btn > img {
  width: 1.1em;
  object-fit: cover;
  margin-right: 0.5em;
}

@media screen and (max-width: 650px) {
  .bg {
    right: -7em;
  }
}
@media screen and (max-width: 425px) {
  .bg {
    display: none;
  }
  .intro-content {
    font-size: 2em;
  }
}
