:root {
  --dark: #181a1b;
  --light: white;
  --text-color: #f95959;
}

nav {
  background-color: #181a1b;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  height: 4em;
  width: 100vw;
  max-width: 75em;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-menu > button {
  background: var(--dark);
  object-fit: contain;
}

.desktop-menu-list-items {
  margin: 1em;
  cursor: pointer;
}

.desktop-menu-list-items:hover {
  color: var(--text-color);
  padding-bottom: 0.5em;
  border-bottom: 3px solid var(--text-color);
}

#contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 2em;
  height: 3em;
}

#contact-btn > img {
  width: 1.4em;
}

.active {
  color: var(--text-color);
  border-bottom: 3px solid var(--text-color);
  padding-bottom: 0.5em;
}

/* burger menu */
.mob-menu {
  display: none;
  width: 2em;
  object-fit: contain;
}

.nav-menu {
  position: absolute;
  top: 4em;
  right: 2em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-width: 15em;
  border-radius: 1em;
  background: var(--dark);
}

.list-items {
  padding: 0.5em 3em;
  margin: 0.25em;
  background: #252525;
}

@media screen and (max-width: 680px) {
  .mob-menu {
    display: block;
  }
  .desktop-menu,
  #contact-btn {
    display: none;
  }
}
