#projects {
  width: 100vw;
  max-width: 75em;
  margin: 0 auto;
  overflow: hidden;
  padding: 3em 5em;
}

#project-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 2em 8em;
}

.card {
  background: #181a1b;
  border-radius: 1em;
  width: 18em;
}
.card-img {
  width: inherit;
  height: 12em;
}
.card-img > img {
  object-fit: cover;
  width: 100%;
  height: inherit;
  border-radius: 1em 1em 0 0;
}
.card-text {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-text > p {
  color: gray;
}
#tech-used {
  font-weight: 900;
}
.tech-icons {
  width: 1.2em;
  height: 1.2em;
  margin: 0 2px;
  border-radius: 2px;
}
.card-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1.5em;
}
.card-btn > a > button {
  border-radius: 2em;
  width: 7em;
}

@media screen and (max-width: 768px) {
  #project-grid {
    grid-template-columns: auto;
  }
}
