:root {
  --deepBlue: #002333;
  /* --first-color: #233142;
  --second-color: #455d7a; */
  --third-color: #f95959;
  --fourth-color: #e3e3e3;
}

h2 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 0.75em;
  display: flex;
  align-items: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

.blue-background {
  background: var(--deepBlue);
}

.line {
  display: inline-block;
  height: 0.2em;
  width: 3em;
  background-color: var(--third-color);
  margin-left: 0.3em;
  border-radius: 1em;
}

button:hover {
  background: var(--third-color);
  color: var(--fourth-color);
}

.lightMode {
  background-color: white;
  color: black;
}

@media screen and (max-width: 625px) {
  .line {
    display: none;
  }
}
